html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  z-index: 0; /* 最底層 */
  position: absolute;
  top: 0;
  left: 0;
}

/* 選單樣式 */
.menu {
  position: fixed;
  top: -100px; /* 初始位置隱藏在畫面上方 */
  right: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.9); /* 淺灰色背景 */
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  list-style: none;
  margin: 0;
  transition: top 0.5s ease; /* 滑入滑出效果 */
  z-index: 2;
}

.menu li {
  margin: 0;
  padding: 0;
  position: relative; /* 讓子選單相對於父選單定位 */
}

.menu a {
  text-decoration: none;
  color: white; /* 項目文字顏色 */
  font-size: 20px; /* 項目文字大小 */
  font-weight: bold;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s;
}

.menu a:hover {
  color: red; /* 滑鼠懸停時文字顏色變為紅色 */
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(211, 211, 211, 0.9);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 3;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
}

.submenu li {
  padding: 5px 10px;
}

.submenu li a {
  background-color: transparent;
  color: black;
  font-size: 18px;
}

.dropdown:hover .submenu {
  display: block;
}

iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.2); /* 背景透明度 0.2 */
  z-index: 1; /* 第二層 */
  border: none;
}
